@font-face{
    font-family: 'mesmerize header';
    src: url('../fonts/mesmerize-sb.ttf');
}
@font-face{
    font-family:'mesmerize text';
    src: url('../fonts/mesmerize-sc-el.ttf');
}


h1, h2, h3, li{
    font-family: 'mesmerize header', sans-serif;
}

p, h6, h5, h4{
    font-family:'mesmerize text';
}

nav.navbar-default .navbar-nav li a, .navbar-header .navbar-brand{
    color: #DED8D0;
}

nav.navbar ul.dropdown-menu li   a{
    color: black;
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    background-color: #DED8D0;

    /*font-family: 'Lato';*/
}

.navbar{
    margin-bottom: 0;
}

 .container {
    background-color: #F0F0F0;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 2px; 
    
}

.footer{
    padding: 0;
    background-color:  inherit;
}

.container.footer{
 margin-top: 5px;
 margin-bottom: 0;
}

.container.footer h4{
    color: #DED8D0;
}

.content {
    text-align: center;
    display: inline-block;
    
}

.title {
    font-size: 96px;
}
form{
    font-size: 1.5em;
    font-weight: bold;
}

img{
    width: 100%;
    /*padding: 5px;*/
}

.profile-pics  p, .profile-pics .more-pics img{
    padding-top: 5px;
    /*margin-left: -5px ;*/
    /*margin-right: -5px;*/
    margin-top: 0;
    /*width: 150%;*/
}

.register{
    padding: 10px;

}
.navbar{
    background-color: #8F0500;
}

nav{
    width: 100%;
}

h3{
    margin-top: 1px !important;
}

.dish{
    margin: 20px auto;
    /*height: 70px;*/
}

span{
    font-size:1.2em;
}

.clickable{
    cursor: pointer;
}

textarea{
    width: 100%;
    height: 8em;
}

.invisible{
    visibility: hidden;
}

.fullWidth{
    !important width: 100%;
}

.inPictures{
    position: absolute;
    left: 50;
    top: 150px;
    background-color: rgba(200,200,200,.9);
}

.partialDish{
    margin-top: 10px;
}


.modal {
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}
.success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #468847;
}
.error {
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    color: #b94a48;
}
.error p {
    font-style: italic;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*herexamen----------------------------------------------*/

.max-height-290{
    max-height: 290px;
}

.start-sentence:first-letter {
    text-transform: capitalize;
}