html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

           /* .container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                
            }*/

            .content {
                text-align: center;
                display: inline-block;
                
            }

            .title {
                font-size: 96px;
            }
            form{
                font-size: 1.5em;
                font-weight: bold;
            }

img{
    width: 100%;
    /*padding: 5px;*/
}

.profile-pics  p, .profile-pics .more-pics img{
    padding-top: 5px;
    /*margin-left: -5px ;*/
    /*margin-right: -5px;*/
    margin-top: 0;
    /*width: 150%;*/
}

nav{
    width: 100%;
}

h3{
    margin-top: 1px !important;
}

.dish{
    margin: 20px auto;
    /*height: 70px;*/
}

span{
    font-size:1.2em;
}

.clickable{
    cursor: pointer;
}

textarea{
    width: 100%;
    height: 8em;
}

.invisible{
    visibility: hidden;
}